/* ------------------------ CSS RESET ------------------------ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: var(--colour-background);
    color: var(--colour-text);
    width: 100%;
    height: 100%;
}

/* ------------------------ VARIABLES ------------------------ */
:root {
    /* COLOURS */
    --colour-background: #e0e3f1;
    --colour-background-alt: #000000;
    --colour-background-user: #cecece;
    --colour-background-post: #ffffff;
    --colour-background-commentContainer: #ffffff;
    --colour-background-submit: #f0f0f0;
    --colour-background-submit-hover: #cacaca;
    
    --colour-background-navigation: #a8b5ee;
    --colour-background-navItem: #92a2ea;
    --colour-background-navItem-hover: #637cec;
    --colour-background-navItem-active: #7589e6;
    --colour-background-tooltip: #a4a4a4;
    --colour-background-updateButton: #92a2ea;
    --colour-background-updateButton-hover: #7589e6;
    --colour-background-deleteButton: #ea9292;
    --colour-background-deleteButton-hover: #e67575;
    --colour-background-loadComments-hover: #dfdfdf;
    --colour-background-image: #ffffff;
    --colour-background-userBanner: #a8b5ee;
    --colour-background-input: #a4a4a4;
    /* --colour-background-imageContainer: #c3c3c3;
    --colour-background-content: #f4f4f4;
    --colour-background-contentContainer: #c3c3c3; */

    --colour-border: #b3b3b3;

    --colour-text: #000000;
    --colour-txt-alt: #ffffff;
    --colour-text-user: #1e1e1e;
    --colour-text-commentAuthor: #4f4f4f;
    --colour-text-light: #6e6e6e;

    --colour-primary: #1600e0;
    --colour-primary-dark: #0c0078;
    --colour-primary-light: #978cff;
    --colour-secondary: #00e068;
    --colour-secondary-dark: #007866;
    --colour-secondary-light: #8cffe4;

    --colour-invalid: #ff000050;
    --colour-invalid-border: #98000050;

    /* FONT SIZES */
    --font-xs: 0.75rem;
    --font-s: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-xxl: 2.5rem;

    /* SPACING */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 50px;

    --spacing-profilePic-xs: 45px;
    --spacing-profilePic-sm: 60px;
    --spacing-profilePic-lg: 120px;

    /* BORDER RADIUS */
    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 15px;

    /* BORDER SIZE */
    --border-thin: 1px;
    --border-base: 2px;
    --border-thick: 4px;
}

/* ------------------------ GLOBAL ELEMENT STYLES ------------------------ */
a {
    color: var(--colour-text);
    text-decoration: none;
}

button {
    font: inherit;
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--colour-primary);
    color: var(--colour-text);
    border: none;
    border-radius: var(--radius-base);
    cursor: pointer;
}

button:hover {
    background-color: var(--colour-primary-dark)
}

input:not(.submit), 
textarea, 
select {
    font: inherit;
    padding: var(--spacing-sm);
    border: var(--border-base) solid var(--colour-border);
    border-radius: var(--radius-sm);
    width: 100%;
}

input.submit {
    font: inherit;
    padding: var(--spacing-sm);
    border: var(--border-base) solid var(--colour-border);
    border-radius: var(--radius-sm);
}

input:not(:placeholder-shown):invalid {
    background-color: var(--colour-invalid);
    border-color: var(--colour-invalid-border);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--colour-text);
}

p {
    color: var(--colour-text);
}

ul li {
    list-style-type: none;
}


.text-center {
    text-align: center;
}

/* ------------------------ NAVIGATION ------------------------ */
#navBanner {
    height: 100vh;
    width: 30vw;
    background-color: var(--colour-background-navigation);
    padding: var(--spacing-sm);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#navList {
    height: 100%;
    width: 100%;
    margin: var(--spacing-lg) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navItem {
    width: 100%;
    /* height: fit-content; */
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    background-color: var(--colour-background-navItem);
    font-size: var(--font-xl);
    border-radius: var(--radius-sm);
}

.navItem.active {
    background-color: var(--colour-background-navItem-active);
}

.navItem:hover:not(#searchBarContainer) {
    background-color: var(--colour-background-navItem-hover);
}

.navItem > a {
    display: block;
    width: 100%;
    height: 100%;
}

#searchBarContainer {
    padding: 0;
    margin: 0 0 var(--spacing-xl) 0;
}

#searchForm {
    padding: 0;
    display: flex;
    flex-direction: row;
}

#searchBar {
    font: inherit;
    padding: var(--spacing-xs);
    margin: var(--spacing-xs);
    border: var(--border-thin) solid #cccccc;
    border-radius: var(--radius-sm);
}

#searchSubmit {
    max-width: fit-content;
    padding: 0 var(--spacing-xs);
    margin: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0;
    background-color: var(--colour-background-submit);
}

#searchSubmit:hover {
    background-color: var(--colour-background-submit-hover);
}

#logoutButton {
    display: block;
}