/* ------------------ CONTENT ------------------ */
.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/* -------------- FEED -------------- */
#postsContainer {
    margin-left: 30vw; 
    padding: var(--spacing-lg) 10%;
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    background-color: var(--colour-background);
    display: flex;
    flex-direction: column;
}

/* later on - add media queries for mobile? as or right now, everything is for desktop */