/* ------------------ POST LAYOUT ------------------ */
.post {
    background-color: white;
    margin: var(--spacing-md) 0;
    padding: var(--spacing-sm);
    border-radius: var(--radius-md);
    max-height: 90vh;
}

.postHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postAuthor {
    background-color: var(--colour-background-user);
    width: fit-content;
    height: fit-content;
    color: var(--colour-text-user);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm);
    margin: 0 0  var(--spacing-xs) 0;
}

.updateButton {
    background-color: pink;
    width: fit-content;
    height: fit-content;
    border-radius: var(--radius-sm);
}

.contentDiv {
    background-color: orange;
    width: 100%;
    padding: var(--spacing-sm);
    margin-bottom:  var(--spacing-xs);
}

.media {
    background-color: yellow;
    width: 100%;
}

.media img {
    display: block;
    width: 100%;
    height: auto;
}

.postContent {
    background-color: green;
    width: fit-content;
    height: fit-content;
}

.likeDiv {
    display: flex;
    flex-direction: row;
}

.likeDiv {
    background-color: blue;
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-sm);
    margin: 0 0  var(--spacing-xs) 0;
}

.likeButton {
    background-color: indigo;
    width: fit-content;
    height: fit-content;
}

.likeCounter {
    background-color: violet;
    width: fit-content;
    height: fit-content;
}

/* later on - add media queries for mobile? as or right now, everything is for desktop */