/* ------------------ POST LAYOUT ------------------ */
.post {
    background-color: var(--colour-background-post);
    margin: var(--spacing-md) 0;
    padding: var(--spacing-sm);
    border-radius: var(--radius-md);
    /* max-height: 90vh; */
    display: flex;
    flex-direction: column;
}

.postHead {
    flex: 1;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--spacing-xs);
}

.imgAndName {
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.profilePic {
    border-radius: 50%;
    margin-right: var(--spacing-xs);
    width: var(--spacing-profilePic-sm);
    height: var(--spacing-profilePic-sm); 
    object-fit: cover;
    cursor: pointer;
}

.authorContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.postAuthor {
    /* background-color: var(--colour-background-user); */
    color: var(--colour-text-user);
    border-radius: var(--radius-sm);
    padding: var(--spacing-xs);
    width: fit-content;
    cursor: pointer;
    font-size: var(--font-xxl);
}

.timestamp {
    color: var(--colour-text-light);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: var(--colour-background-tooltip);
    padding: var(--spacing-sm);
    border-radius: var(--radius-lg);
    font-size: var(--font-md);
    position: absolute;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    white-space: nowrap;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--colour-background-tooltip) transparent transparent transparent;
}

.updateButton {
    background-color: var(--colour-background-updateButton);
    font-size: var(--font-lg);
    width: fit-content;
    height: fit-content;
    border-radius: var(--radius-sm);
}

.updateButton:hover {
    background-color: var(--colour-background-updateButton-hover);
}

.deleteButton {
    display: none;
    background-color: var(--colour-background-deleteButton);
    font-size: var(--font-lg);
    width: fit-content;
    height: fit-content;
    border-radius: var(--radius-sm);
}

.deleteButton:hover {
    background-color: var(--colour-background-deleteButton-hover);
}

.contentDiv {
    flex: 1;
    /* background-color: var(--colour-background); */
    width: 100%;
    /* height: 70vh; */
    /* padding: var(--spacing-sm); */
    margin-bottom:  var(--spacing-xs);
    border-radius: var(--radius-md);
}

.media {
    width: 100%;
    border-radius: var(--radius-md);
}

.images {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    height: 60vh;
    /* background-color: var(--colour-background-image); */
    border-radius: var(--radius-md);
}

.images img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    background-color: var(--colour-background-image);
}

.contentContainer {
    margin-top: var(--spacing-sm);
    border-radius: var(--radius-md);
    /* background-color: var(--colour-background)-contentContainer; */
    border: var(--border-base) solid var(--colour-border);
}

.postContent {
    /* background-color: var(--colour-background-content); */
    padding: var(--spacing-xs) var(--spacing-sm);
    width: fit-content;
    height: fit-content;
    font-size: var(--font-lg);
    border-radius: var(--radius-md);
}

.like_comment_counters {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: fit-content;
}

.likeDiv,
.commentDiv {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0 var(--spacing-sm);
}

.likeCounter, 
.commentCounter {
    margin-right: var(--spacing-xs);
    font-size: var(--font-lg);
}

.likeButton,
.commentButton {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.likeButtonImg,
.commentButtonImg {
    background-color: transparent;
    /* border-radius: 40%; */
    max-width: 30px;
    transition: transform 0.2s ease-in-out;
}

.likeButton:hover,
.commentButton:hover {
    background-color: transparent;
}

.likeButtonImg:hover,
.commentButtonImg:hover {
    transform: scale(1.1);
}

/* ------------------ SLIDESHOW LAYOUT ------------------ */
.slides {
    display: none;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slides.active {
    display: block;
}

.dotContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

.active {
    background-color: black;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-xl);
    padding: 8px;
    user-select: none;
    color: white;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.media {
    position: relative;
}

.commentContainer {
    padding: var(--spacing-sm);
    border: var(--border-base) solid var(--colour-border);
    border-radius: var(--radius-md);
    background-color: var(--colour-background-commentContainer);

}

/* ------------------ UPDATE POSTS ------------------ */
#updateForm {
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: row;
}

#submitUpdate {
    max-width: fit-content;
    height:fit-content;
    margin-left: var(--spacing-xs);
    background-color: var(--colour-background-submit);
}

#submitUpdate:hover {
    background-color: var(--colour-background-submit-hover);
}