/* ------------------ CONTENT ------------------ */
.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/* ----------- NAVIGATION ----------- */
#navBanner {
    height: 100vh;
    width: 30vw;
    background-color: var(--colour-background-navigation);
    padding: var(--spacing-sm);
    position: fixed;
    top: 0;
    z-index: 10;
}

#navList {
    height: 100%;
    width: 100%;
    margin: var(--spacing-lg) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navItem {
    width: 100%;
    /* height: fit-content; */
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    background-color: var(--colour-background-navItem);
    font-size: var(--font-xl);
    border-radius: var(--radius-sm);
}

.navItem.active {
    background-color: var(--colour-background-navItem-active);
}


.navItem:hover {
    background-color: var(--colour-background-navItem-hover);
}

.navItem > a {
    display: block;
    width: 100%;
    height: 100%;
}

#searchBarContainer {
    padding: 0;
    margin: 0 0 var(--spacing-xl) 0;
}

#searchForm {
    padding: 0;
    display: flex;
    flex-direction: row;
}

#searchBar {
    font: inherit;
    padding: var(--spacing-xs);
    margin: var(--spacing-xs);
    border: var(--border-thin) solid #cccccc;
    border-radius: var(--radius-sm);
}

#searchSubmit {
    max-width: fit-content;
    padding: 0 var(--spacing-xs);
    margin: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0;
}

/* -------------- CONTENT -------------- */
#feed {
    margin-left: 30vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#userHeader {
    display: flex;
    flex-direction: row;
    /* height: fit-content; */
    background-color: var(--colour-background-userBanner);
}

#userInfoContainer {
    /* position: sticky; */
    padding: var(--spacing-md);
    /* background-color: var(--colour-background-userBanner); */
    display: flex;
    flex-direction: row;
    height: 20vh;
}

#profilePicture {
    border-radius: 50%;
    margin-right: var(--spacing-xs);
    width: var(--spacing-profilePic-lg);
    height: var(--spacing-profilePic-lg); 
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

#profilePicture.editable {
    filter: brightness(0.85);
    outline: 2px solid var(--colour-accent);
    outline-offset: 2px;
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* Hover effect */
#profilePicture.editable:hover {
    transform: scale(1.05);
    filter: brightness(1);
    cursor: pointer;
}

#profilePicInput  {
    display: none;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
}

#displayName,
#displayNameInput {
    padding: 0 var(--spacing-sm);
    font-size: var(--spacing-xxl);
    line-height: 0.9;
}

#email {
    padding: 0 var(--spacing-sm);
    color: var(--colour-text-user);
}

#updateButtonsContainer {
    margin: var(--spacing-md);
    margin-left: auto;
    margin-right: var(--spacing-lg);
}

#deleteAccountButton {
    margin-top: var(--spacing-sm);
}

#postsContainer {
    padding: var(--spacing-lg) 10%;
    background-color: var(--colour-background);
    display: flex;
    flex-direction: column;
}
/* later on - add media queries for mobile? as or right now, everything is for desktop */